<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>DC Motor Control Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="bootstrap-5.3.5/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="bootstrap-icons-1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <div id="layout-wrapper"></div>

    <!-- JQuery (sebaiknya di akhir sebelum penutup body) -->
    <script src="javascripts/jquery-3.7.1.min.js"></script>
  </body>
</html>
